<div id="<%= dom_id project %>">
  <p>
    <strong>Organization:</strong>
    <%= project.organization_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Client name:</strong>
    <%= project.client_name %>
  </p>

  <p>
    <strong>Billable:</strong>
    <%= project.billable %>
  </p>

  <p>
    <strong>Budget hours:</strong>
    <%= project.budget_hours %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= project.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= project.end_date %>
  </p>

</div>
