<div id="<%= dom_id time_entry %>">
  <p>
    <strong>Organization:</strong>
    <%= time_entry.organization_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= time_entry.user_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= time_entry.project_id %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= time_entry.task_id %>
  </p>

  <p>
    <strong>Work date:</strong>
    <%= time_entry.work_date %>
  </p>

  <p>
    <strong>Minutes:</strong>
    <%= time_entry.minutes %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= time_entry.note %>
  </p>

  <p>
    <strong>Billable:</strong>
    <%= time_entry.billable %>
  </p>

  <p>
    <strong>Approved at:</strong>
    <%= time_entry.approved_at %>
  </p>

  <p>
    <strong>Approved by:</strong>
    <%= time_entry.approved_by_id %>
  </p>

</div>
